In [ ]:
from google.colab import auth
auth.authenticate_service_account()

Successfully saved credentials for pipelineauth@weatherlink-404323.iam.gserviceaccount.com

In [ ]:
from google.cloud import bigquery
project_name='weatherlink-404323'
client = bigquery.Client(project=project_name)

In [ ]:
dataset_name = 'weatherlink_master'

In [ ]:
tables = client.list_tables(dataset_name)
for table in tables:
  print(table.table_id)

accident_master
accident_response_times
census
census_master
census_test
weather_master
weatherlink_test

### **CENCUS**

In [ ]:
table_census = client.get_table("weatherlink-404323.weatherlink_master.census")

In [ ]:
print(table_census.num_rows)

11519

In [ ]:
table_census.schema

[SchemaField('geo_id', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('income_per_capita', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('median_income', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('year', 'STRING', 'NULLABLE', None, None, (), None)]

In [ ]:
sql_query = """
SELECT distinct  geoid
FROM (
    SELECT
        *,
        CAST(year AS INT64) AS year_integer
    FROM `weatherlink-404323.weatherlink_master.accident_master`
    WHERE CAST(year AS INT64) BETWEEN 2015 AND 2019
)
"""

In [ ]:
#DISTINCT YEARS
df = client.query(sql_query).to_dataframe()
print(df)

      geoid
0      4015
1     16077
2     21145
3     23011
4     30003
...     ...
3108  38027
3109  46055
3110  30109
3111  31009
3112   4999

[3113 rows x 1 columns]

In [ ]:
sql_query = """
SELECT distinct geo_id
FROM `weatherlink-404323.weatherlink_master.census` order by geo_id asc
"""
#DISTINCT geo_id
df = client.query(sql_query).to_dataframe()
print(df)

    geo_id
0    01003
1    01015
2    01043
3    01049
4    01051
..     ...
953   9007
954   9009
955   9011
956   9013
957   9015

[958 rows x 1 columns]

### **CENSUS MASTER**

In [ ]:
table_census_master = client.get_table("weatherlink-404323.weatherlink_master.census_master")

In [ ]:
print(table_census_master.num_rows)

11508

In [ ]:
#columns_to_take = ['geo_id', 'year', 'no_car', 'total_pop', 'female_pop', 'employed_pop', 'unemployed_pop', 'median_rent', 'median_age']

In [ ]:
sql_query = """
SELECT geo_id, year, no_car, total_pop, male_pop, female_pop, median_rent, median_age, income_per_capita
FROM `weatherlink-404323.weatherlink_master.census_master` where limit 10
"""

df = client.query(sql_query).to_dataframe()
print(df)

   geo_id  year   no_car  total_pop  male_pop  female_pop  median_rent  \
0   26081  2007   6003.0   604330.0  299419.0    304911.0        581.0
1   18089  2007   5750.0   492104.0  236709.0    255395.0        576.0
2   13121  2007  31819.0   992137.0  489573.0    502564.0        743.0
3   24510  2007  44853.0   637455.0  298148.0    339307.0        622.0
4   53053  2007   6811.0   773165.0  383809.0    389356.0        728.0
5   10003  2007   7591.0   528218.0  256092.0    272126.0        777.0
6   17197  2007   4007.0   673586.0  337779.0    335807.0        723.0
7   34029  2007   6826.0   565493.0  271087.0    294406.0       1005.0
8   24003  2007   4862.0   512154.0  254218.0    257936.0       1060.0
9   25009  2007  12599.0   733101.0  353951.0    379150.0        832.0

   median_age  income_per_capita
0        34.4            24635.0
1        37.3            22853.0
2        35.4            37651.0
3        35.4            21887.0
4        35.5            27268.0
5        37.1            29851.0
6        32.8            28382.0
7        41.1            29105.0
8        37.8            37025.0
9        39.6            32306.0

In [ ]:
table_census_master.schema

[SchemaField('income_per_capita', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_cars', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_5_years_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('occupation_services', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('owner_occupied_housing_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_75_to_79', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('no_car', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_divorced', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_90_more_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_agriculture_forestry_fishing_hunting_mining', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('no_cars', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('less_than_high_school_graduate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_60000_74999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('asian_male_55_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_67_to_69', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_16_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_35000_39999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_50_to_54', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_75_to_79', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_manufacturing', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('one_year_more_college', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_60_more_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('family_households', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_20_to_25_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('hispanic_any_race', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('speak_spanish_at_home_low_english', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_never_married', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('associates_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_25_29_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('gini_index', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_21', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('asian_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('amerindian_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('occupation_management_arts', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_10_to_19_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('owner_occupied_housing_units_lower_value_quartile', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_80_to_84', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('civilian_labor_force', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('occupation_sales_office', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_10_to_14', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_parents_in_labor_force_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('housing_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('median_year_structure_built', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_40_to_50_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_200000_or_more', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_40_to_44', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('black_male_55_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('total_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_35_to_39', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('bachelors_degree_or_higher_25_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_20000_24999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_female_households', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_125000_149999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('in_school', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('median_rent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('vacant_housing_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_18_to_19', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_21', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_15000_19999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('speak_spanish_at_home', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_35_to_40_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('population_3_years_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('housing_built_2000_to_2004', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_5_to_9', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('different_house_year_ago_same_city', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_50_to_54', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_male_households', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('in_grades_5_to_8', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('black_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_10_14_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_parents_not_in_labor_force_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('million_dollar_housing_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_by_car_truck_van', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_separated', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_1_units_detached', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_45_59_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_information', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_55_to_59', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('aggregate_travel_time_to_work', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_by_bus', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_in_labor_force', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_parent_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_retail_trade', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('renter_occupied_housing_units_paying_cash_median_gross_rent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_30_to_34', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('in_grades_1_to_4', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_parents_mother_in_labor_force_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('management_business_sci_arts_employed', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_25_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_by_carpool', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_35_44_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_22_to_24', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_20_to_49_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_60_61', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_some_college', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('bachelors_degree_2', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_100000_124999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_wholesale_trade', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('housing_units_renter_occupied', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('married_households', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_grade_9_12', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('population_1_year_and_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_50_or_more_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('group_quarters', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_parents_father_in_labor_force_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_bachelors_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_under_10_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('amerindian_including_hispanic', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('white_male_45_54', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_30_to_35_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('white_male_55_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_67_to_69', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('in_grades_9_to_12', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('median_age', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('one_parent_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('hispanic_male_55_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_education_health_social', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('households_public_asst_or_food_stamps', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('hispanic_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('two_or_more_races_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('nonfamily_households', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_40_44_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('not_us_citizen_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_graduate_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_finance_insurance_real_estate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('workers_16_and_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_85_and_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_2_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_less_10_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('occupied_housing_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_50000_59999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('owner_occupied_housing_units_upper_value_quartile', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_5_to_9', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('median_income', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_25_to_29', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_1_units_attached', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('mortgaged_housing_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('housing_built_2005_or_later', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('armed_forces', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('in_undergrad_college', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('some_college_and_associates_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_20', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_30_to_34', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_25_years_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_60_to_61', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('geo_id', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_3_to_4_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_transportation_warehousing_utilities', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('asian_male_45_54', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_less_than_9_grade', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_45_to_49', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_15_19_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('less_one_year_college', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_15_to_20_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_less_10000', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_over_50_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_25000_29999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('dwellings_5_to_9_units', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_40_to_44', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_70_to_74', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_62_to_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_by_subway_or_elevated', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('graduate_professional_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('bachelors_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_15_and_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_10000_14999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_25_to_30_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('father_in_labor_force_one_parent_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_determined_poverty_status', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('poverty', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_60_89_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('do_date', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_under_5', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('vacant_housing_units_for_sale', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_75000_99999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_construction', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_under_5', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_65_to_66', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('owner_occupied_housing_units_median_value', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_to_49', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('children_in_single_female_hh', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('percent_income_spent_on_rent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('speak_only_english_at_home', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_30000_34999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('households', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_70_to_74', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_80_to_84', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('sales_office_employed', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('father_one_parent_families_with_young_children', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_public_administration', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_arts_entertainment_recreation_accommodation_food', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('four_more_cars', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_10_to_14', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('not_hispanic_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_18_to_19', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('households_retirement_income', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_drove_alone', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_20_24_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_by_public_transportation', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('occupation_production_transportation_material', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('housing_built_1939_or_earlier', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('not_in_labor_force', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('masters_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('occupation_natural_resources_construction_maintenance', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('white_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_associates_degree', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_30_34_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('one_car', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_40000_44999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_62_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_150000_199999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('hispanic_male_45_54', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_20', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('vacant_housing_units_for_rent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('black_including_hispanic', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_85_and_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_widowed', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('income_45000_49999', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('high_school_including_ged', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_5_9_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('other_race_pop', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('employed_other_services_not_public_admin', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('black_male_45_54', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('worked_at_home', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_35_to_39', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_64_high_school', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_45_to_64', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('asian_including_hispanic', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_25_to_29', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('walked_to_work', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('male_65_to_66', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('different_house_year_ago_different_city', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('pop_now_married', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commute_35_39_mins', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('three_cars', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('white_including_hispanic', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('commuters_16_over', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('rent_10_to_15_percent', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('female_15_to_17', 'FLOAT', 'NULLABLE', None, None, (), None),

In [ ]:
sql_query = """
SELECT distinct(unemployed_pop)
FROM `weatherlink-404323.weatherlink_master.census_master`
"""

df = client.query(sql_query).to_dataframe()
print(df)

   unemployed_pop
0             NaN

In [ ]:
sql_query = """
SELECT distinct year
FROM `weatherlink-404323.weatherlink_master.census_master` order by year asc
"""
#DISTINCT YEARS
df = client.query(sql_query).to_dataframe()
print(df)

    year
0   2007
1   2008
2   2009
3   2010
4   2011
5   2012
6   2013
7   2014
8   2015
9   2016
10  2017
11  2018
12  2019
13  2021

In [ ]:
sql_query = """
SELECT distinct geo_id
FROM `weatherlink-404323.weatherlink_master.census_master` order by geo_id asc
"""
#DISTINCT geo_id
df = client.query(sql_query).to_dataframe()
print(df)

     geo_id
0      1003
1      1015
2      1043
3      1049
4      1051
..      ...
848   72113
849   72127
850   72135
851   72137
852   72139

[853 rows x 1 columns]

### **TABLE ACCIDENT MASTER**

In [ ]:
table_accident_master = client.get_table("weatherlink-404323.weatherlink_master.accident_master")

In [ ]:
sql_query = """
SELECT manner_of_collision_name, geoid, year, hour_of_crash, month_of_crash, day_of_week_name, light_condition_name, atmospheric_conditions_1_name
FROM `weatherlink-404323.weatherlink_master.accident_master`  where atmospheric_conditions_1_name != "Reported as Unknown" and
atmospheric_conditions_1_name != "Not Reported" and atmospheric_conditions_1_name != "Unknown"
"""
df = client.query(sql_query).to_dataframe()
print(df)

                                 manner_of_collision_name  geoid  year  \
0         Not a Collision with Motor Vehicle In-Transport   4015  2015
1         Not a Collision with Motor Vehicle In-Transport  16077  2015
2         Not a Collision with Motor Vehicle In-Transport  21145  2015
3         Not a Collision with Motor Vehicle In-Transport  23011  2015
4         Not a Collision with Motor Vehicle In-Transport  30003  2015
...                                                   ...    ...   ...
191514  The First Harmful Event was Not a Collision wi...   4017  2020
191515  The First Harmful Event was Not a Collision wi...  12105  2020
191516  The First Harmful Event was Not a Collision wi...  12095  2020
191517  The First Harmful Event was Not a Collision wi...  34013  2020
191518  The First Harmful Event was Not a Collision wi...  53063  2020

        hour_of_crash  month_of_crash day_of_week_name  \
0                   0               6           Friday
1                   0               6           Friday
2                   0               8           Friday
3                   0              11         Thursday
4                  23               8         Thursday
...               ...             ...              ...
191514             22               7           Friday
191515              0               6           Friday
191516              7               9        Wednesday
191517              5              12        Wednesday
191518             23              10          Tuesday

           light_condition_name atmospheric_conditions_1_name
0            Dark - Not Lighted                         Clear
1            Dark - Not Lighted                         Clear
2                Dark - Lighted                         Clear
3            Dark - Not Lighted                         Clear
4            Dark - Not Lighted                         Clear
...                         ...                           ...
191514      Reported as Unknown      Blowing Sand, Soil, Dirt
191515           Dark - Lighted                          Rain
191516  Dark - Unknown Lighting                         Clear
191517                     Dawn                         Clear
191518       Dark - Not Lighted                         Clear

[191519 rows x 8 columns]

In [ ]:
table_accident_master.schema

[SchemaField('number_of_persons_in_motor_vehicles_in_transport_mvit', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('milepoint_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_forms_submitted_for_persons_in_motor_vehicles', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('ownership_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('relation_to_junction_within_interchange_area_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_crash', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('school_bus_related_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('functional_system_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('school_bus_related', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_parked_working_vehicles', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('year_of_crash', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('related_factors_crash_level_1_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('special_jurisdiction_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('relation_to_junction_within_interchange_area', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('first_harmful_event_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('related_factors_crash_level_2', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('light_condition_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('light_condition', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_notification_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('consecutive_number', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('rail_grade_crossing_identifier', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('day_name', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_notification_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('national_highway_system_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('related_factors_crash_level_3', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_arrival_at_scene', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_ems_arrival_at_hospital_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('state_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('land_use', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_ems_arrival_at_hospital', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('relation_to_junction_specific_location', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('first_harmful_event', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_drunk_drivers', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('atmospheric_conditions_1_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('related_factors_crash_level_1', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_persons_not_in_motor_vehicles_in_transport_mvit', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('land_use_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('route_signing', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_crash_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_notification', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('city', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_arrival_at_scene_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_forms_submitted_for_persons_not_in_motor_vehicles', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('county', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('milepoint', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('rail_grade_crossing_identifier_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_motor_vehicles_in_transport_mvit', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('relation_to_junction_specific_location_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('atmospheric_conditions', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('month_of_crash_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('day_of_week_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('timestamp_of_crash', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_ems_arrival_at_hospital_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('national_highway_system', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_notification', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('related_factors_crash_level_2_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_vehicle_forms_submitted_all', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('type_of_intersection', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('trafficway_identifier_2', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('manner_of_collision_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_arrival_at_scene_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('route_signing_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('latitude_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_arrival_at_scene', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('day_of_week', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('atmospheric_conditions_2_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('special_jurisdiction', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('relation_to_trafficway', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('relation_to_trafficway_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('functional_system', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('day_of_crash', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('hour_of_ems_arrival_at_hospital', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('month_of_crash', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('state_number', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('trafficway_identifier', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_crash_name', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('type_of_intersection_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('atmospheric_conditions_1', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('longitude_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('work_zone_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('atmospheric_conditions_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('atmospheric_conditions_2', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('related_factors_crash_level_3_name', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('work_zone', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('minute_of_crash', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('number_of_fatalities', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('ownership', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('manner_of_collision', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('geoid', 'INTEGER', 'NULLABLE', None, None, (), None)]

In [ ]:
print(table_accident_master.num_rows)

203465

In [ ]:
sql_query = """
SELECT count(ownership_name), ownership_name
FROM `weatherlink-404323.weatherlink_master.accident_master` group by ownership_name
"""

df = client.query(sql_query).to_dataframe()
print(df)

       f0_                                ownership_name
0   111649                          State Highway Agency
1      793                               State Toll Road
2    34487                                  Not Reported
3      120                          Other Federal Agency
4     5331               Town or Township Highway Agency
5     2143                                       Unknown
6       87     State Park, Forest, or Reservation Agency
7    23592              City or Municipal Highway Agency
8    22021                         County Highway Agency
9       89                           U.S. Forest Service
10    1992                            Other Local Agency
11     519             Trafficway Not in State Inventory
12     238                      Bureau of Indian Affairs
13      12                                          Army
14      73                           Indian Tribe Nation
15      92                         National Park Service
16      66                            Other State Agency
17       7  Other Public Instrumentality (i.e., Airport)
18      18      Local Park, Forest or Reservation Agency
19      14                          Local Toll Authority
20      69                 Private (other than Railroad)
21      10                     Bureau of Land Management
22       1                                  Navy/Marines
23      36                                      Railroad
24       2                            Corps of Engineers
25       1                    Tennessee Valley Authority
26       1                         Bureau of Reclamation
27       2                   Bureau of Fish and Wildlife

In [ ]:
sql_query = """
SELECT count(number_of_fatalities), number_of_fatalities
FROM `weatherlink-404323.weatherlink_master.accident_master` group by number_of_fatalities
"""

df = client.query(sql_query).to_dataframe()
print(df)

       f0_  number_of_fatalities
0   189049                     1
1    12030                     2
2     1775                     3
3      449                     4
4      115                     5
5       32                     6
6        1                    10
7        5                     8
8        1                     9
9        5                     7
10       2                    13
11       1                    20

In [ ]:
sql_query = """
SELECT distinct geoid
FROM `weatherlink-404323.weatherlink_master.accident_master` order by geoid asc
"""
#DISTINCT geo_id
df = client.query(sql_query).to_dataframe()
print(df)

      geoid
0      1001
1      1003
2      1005
3      1007
4      1009
...     ...
3117  56037
3118  56039
3119  56041
3120  56043
3121  56045

[3122 rows x 1 columns]

In [ ]:
sql_query = """
SELECT distinct geoid
FROM `weatherlink-404323.weatherlink_master.accident_master` order by geoid asc
"""
#DISTINCT geo_id
df = client.query(sql_query).to_dataframe()
print(df)

### **Accident Response Times**

In [ ]:
table_accident_response_times = client.get_table("weatherlink-404323.weatherlink_master.accident_response_times")

In [ ]:
table_accident_response_times.schema

[SchemaField('geoid', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('TotalResponseTime', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('EmsResponseTime', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('EmsDeliveryTime', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('NotificationResponseTime', 'FLOAT', 'NULLABLE', None, None, (), None)]

In [ ]:
print(table_accident_response_times.num_rows)

831

In [ ]:
sql_query = """
SELECT distinct geoid
FROM `weatherlink-404323.weatherlink_master.accident_response_times` order by geoid asc
"""
#DISTINCT geo_id
df = client.query(sql_query).to_dataframe()
print(df)

     geoid
0     1003
1     1015
2     1043
3     1049
4     1051
..     ...
826  55133
827  55139
828  55141
829  56021
830  56025

[831 rows x 1 columns]

### **WEATHER MASTER**

In [ ]:
table_weather_master = client.get_table("weatherlink-404323.weatherlink_master.weather_master")

In [ ]:
table_weather_master.schema

[SchemaField('Year', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('WBANNO', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('LST_DATE', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('CRX_VN', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('LONGITUDE', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('LATITUDE', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('T_DAILY_MAX', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('T_DAILY_MIN', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('T_DAILY_MEAN', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('T_DAILY_AVG', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('P_DAILY_CALC', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOLARAD_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SUR_TEMP_DAILY_TYPE', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('SUR_TEMP_DAILY_MAX', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SUR_TEMP_DAILY_MIN', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SUR_TEMP_DAILY_AVG', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('RH_DAILY_MAX', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('RH_DAILY_MIN', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('RH_DAILY_AVG', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_MOISTURE_5_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_MOISTURE_10_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_MOISTURE_20_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_MOISTURE_50_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_MOISTURE_100_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_TEMP_5_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_TEMP_10_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_TEMP_20_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_TEMP_50_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('SOIL_TEMP_100_DAILY', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('COUNTY_FIPS', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('COUNTY_NAME', 'STRING', 'NULLABLE', None, None, (), None)]

In [ ]:
print(table_accident_master.num_rows)

203465

In [ ]:
sql_query = """
SELECT distinct year
FROM `weatherlink-404323.weatherlink_master.weather_master` order by year asc
"""
#DISTINCT YEARS
df = client.query(sql_query).to_dataframe()
print(df)

    year
0   2006
1   2007
2   2008
3   2009
4   2010
5   2011
6   2012
7   2013
8   2014
9   2015
10  2016
11  2017
12  2018
13  2019
14  2020
15  2021
16  2022
17  2023

### **FILTERING DATA**

In [ ]:
#ACCIDENT MASTER DATA TABLE FILTERED
#%Y-%m-%d %H

sql_query = """
CREATE OR REPLACE TABLE `weatherlink_master.accident_master_filtered` AS

SELECT

geoid,  FORMAT_TIMESTAMP('%Y-%m-%d', TIMESTAMP(timestamp_of_crash)) AS timestamp_of_crash, CAST(year as INT64) as year, month_of_crash,
EXTRACT(week FROM TIMESTAMP(timestamp_of_crash )) as week_of_crash,  hour_of_crash, day_of_week_name,
light_condition_name, atmospheric_conditions_1_name as atmospheric_cond_name, manner_of_collision_name, number_of_fatalities

FROM `weatherlink-404323.weatherlink_master.accident_master`

where

atmospheric_conditions_1_name != "Reported as Unknown" and
atmospheric_conditions_1_name != "Not Reported" and atmospheric_conditions_1_name != "Unknown" and CAST(year AS INT64) BETWEEN 2015 AND 2019
"""
df = client.query(sql_query).to_dataframe()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#CENSUS MASTER DATA TABLE FILTERED
sql_query = """
CREATE OR REPLACE TABLE `weatherlink_master.census_master_filtered` AS
SELECT geo_id as geoid, year, CAST(total_pop as INT64) as total_pop, CAST(male_pop*100 / total_pop as INT64) as male_pop_ratio,
CAST(no_car*1000 / total_pop as INT64) as no_car_ratio,
CAST(median_age as INT64) as median_age, CAST(median_rent as INT64) as median_rent,
CAST(income_per_capita as INT64) as income_per_capita

FROM `weatherlink-404323.weatherlink_master.census_master` where year between 2015 and 2019
"""

df = client.query(sql_query).to_dataframe()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
sql_query = """
SELECT geoid, year, CAST(total_pop as INT64) as total_pop, CAST(male_pop*100 / total_pop as INT64) as male_pop_ratio, CAST(no_car*1000 / total_pop as INT64) as no_car_ratio,
CAST(median_age as INT64) as median_age, CAST(median_rent as INT64) as median_rent,
CAST(income_per_capita as INT64) as income_per_capita

FROM `weatherlink-404323.weatherlink_master.census_master_filtered`
"""

df = client.query(sql_query).to_dataframe()
print(df)

      geoid  year  total_pop  male_pop_ratio  no_car_ratio  median_age  \
0     26073  2015      70698              48            19          28
1     18157  2015     185826              51            26          28
2     18105  2015     144705              49            24          28
3     38035  2015      70916              52            13          29
4     19103  2015     144251              49            25          30
...     ...   ...        ...             ...           ...         ...
4171  39157  2019      91987              50            20          42
4172  51165  2019      81948              49             7          42
4173  37151  2019     143667              50             7          42
4174  45051  2019     354081              48            11          48
4175  42025  2019      64182              50             8          48

      median_rent  income_per_capita
0             622              22381
1             669              25049
2             718              24722
3             755              32826
4             752              30144
...           ...                ...
4171          567              27251
4172          842              32317
4173          545              23596
4174          869              29879
4175          694              33959

[4176 rows x 8 columns]

In [ ]:
sql_query = """
CREATE OR REPLACE TABLE `weatherlink_master.census_accident_master_filtered` AS

SELECT
    a.geoid,
    a.timestamp_of_crash,
    a.year,
    a.month_of_crash,
    a.week_of_crash,
    a.day_of_week_name,
    a.hour_of_crash,
    a.atmospheric_cond_name,
    a.manner_of_collision_name,
    a.number_of_fatalities,
    a.light_condition_name,
    b.no_car_ratio,
    b.total_pop,
    b.male_pop_ratio,
    b.median_rent,
    b.median_age,
    b.income_per_capita
FROM
    `weatherlink_master.accident_master_filtered` a
JOIN
    `weatherlink_master.census_master_filtered` b
ON
    a.year = b.year AND a.geoid = b.geoid

"""


df = client.query(sql_query).to_dataframe()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
sql_query = """

SELECT
  week_of_crash
FROM
  `weatherlink_master.census_accident_master_filtered`
limit 10

"""

df = client.query(sql_query).to_dataframe()
print(df)

   week_of_crash
0              9
1             20
2             13
3             18
4             35
5             12
6             43
7             21
8             32
9             37

In [ ]:
sql_query = """
select * from (
SELECT
  count(CONCAT(geoid, week_of_crash, day_of_week_name)) as count,  CONCAT(geoid, week_of_crash, day_of_week_name)
FROM
  `weatherlink_master.census_accident_master_filtered`
GROUP BY
  geoid, week_of_crash, day_of_week_name

order by count desc

)
"""

df = client.query(sql_query).to_dataframe()
print(df)

       count              f0_
0         19     603742Sunday
1         18   603749Saturday
2         18     603746Sunday
3         16   603745Thursday
4         16     603739Sunday
...      ...              ...
77867      1  5503948Thursday
77868      1    5503941Monday
77869      1    5503935Sunday
77870      1     550392Sunday
77871      1  5503922Thursday

[77872 rows x 2 columns]

In [ ]:
### DATASET WITH LABELS ###

sql_query = """

SELECT
   count(count) /365 as count, geoid, year
FROM
  `weatherlink_master.census_accident_master_filtered`
GROUP BY
  geoid, year
ORDER BY
count desc
"""

df = client.query(sql_query).to_dataframe()
print(df)

         count  geoid  year
0     2.106849   6037  2016
1     1.912329   6037  2017
2     1.876712   6037  2018
3     1.852055   6037  2019
4     1.657534   6037  2015
...        ...    ...   ...
4081  0.002740  44005  2015
4082  0.002740  51177  2016
4083  0.002740  51179  2016
4084  0.002740  51199  2016
4085  0.002740  51199  2017

[4086 rows x 3 columns]